node_modules/
.expo/
dist/
web-build/
expo-env.d.ts
.env
.env.local
.env.*.local
android/
ios/
*.jks
*.p8
*.p12
*.key
*.mobileprovision
*.orig.*
.metro-health-check*
npm-debug.*
yarn-debug.*
yarn-error.*
.DS_Store
*.pem
Thumbs.db
.idea/
.vscode/
*.swp
*.swo
